﻿@model ExamTrestProyect.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
            @Html.DisplayFor(model => model.Paterno)
            @Html.DisplayFor(model => model.Materno)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empleados.FirstOrDefault().Sueldo)
        </dt>
         <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empleados.FirstOrDefault().Sueldo)
        </dd>
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empleados.FirstOrDefault().FechaIngreso)
        </dt>
         <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empleados.FirstOrDefault().FechaIngreso)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
