﻿@model IEnumerable<ExamTrestProyect.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New  </a> 
    <a asp-action="Archivo">Archivo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Sueldo
            </th>
            <th>
                Fecha De Ingreso
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name) 
                @Html.DisplayFor(modelItem => item.Paterno)
                @Html.DisplayFor(modelItem => item.Materno)
            </td>
         
            @foreach(var emp in item.Empleados)
                {
                    <td>
                   $ @Html.DisplayFor(modelItem=> emp.Sueldo)
                </td>
                }
            @foreach(var emp in item.Empleados)
                {
                    <td>
                    @Html.DisplayFor(modelItem=> emp.FechaIngreso)
                </td>
                }
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
